.wswl-btn {
    border: none;
    font-family: var(--default-font-family) !important;

    text-align: center;
    width: 100%;
    min-width: fit-content;

    cursor: pointer;

    @include flex-element(row, center, center) {
        gap: var(--gap-8);
    }

    @extend .radius-md;
    @extend .font-16;

    &.btn__lg {
        padding: var(--gap-8) var(--gap-12);
    }

    &.btn__subtle {
        background-color: var(--primary-700);
        color: var(--gray-50);

        &:hover {
            background-color: var(--primary-900);
        }
    }

    &.btn__white {
        background-color: var(--white);
        color: var(--primary-800);

        &:hover {
            background-color: var(--gray-300);
        }
    }
}
