.status-bar {
    &__section {
        width: 100%;
        height: auto;
        min-height: var(--gap-57);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }
    &__container {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
