.status-bar {
    &__section {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &__container {
        img {
            width: 100%;
            height: auto;
            // display: block;
            filter: invert(1);
        }
    }
}
