*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: inherit;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}
body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0 !important;
    min-height: 100dvh;
    min-width: 100dvw;
    position: relative;

    width: 100%;
    height: 100%;

    margin-block: auto;
    margin-inline: auto;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background: #222;
    color: #222;
    margin: 0;

    @include flex-element(column, center, center);
}

main.phone {
    overflow-x: hidden !important;
    overflow-y: scroll !important;

    width: 402px;
    min-width: 402px;
    max-width: 402px;

    height: 874px;
    min-height: 874px;
    max-height: 874px;

    background: #fff;

    @include flex-element(column, space-between, stretch, nowrap) {
        gap: var(--gap-10);
    }
    @extend .radius-xxl;
    position: relative;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    > .content {
        flex: 1 1 auto;
        padding-inline: var(--gap-16);
        @include flex-element(column, start, stretch, nowrap) {
            gap: var(--gap-10);
        }
    }
}
