// COLORS CLASSES
.mc-green-primary {
    color: var(--mc-green-primary);
}
.white {
    color: var(--white);
}
.black {
    color: var(--black);
}
.transparent {
    color: transparent;
}
.primary-green {
    color: var(--primary-green);
}

.gray-25 {
    color: var(--gray-25);
}
.gray-50 {
    color: var(--gray-50);
}
.gray-100 {
    color: var(--gray-100);
}
.gray-200 {
    color: var(--gray-200);
}
.gray-300 {
    color: var(--gray-300);
}
.gray-400 {
    color: var(--gray-400);
}
.gray-500 {
    color: var(--gray-500);
}
.gray-600 {
    color: var(--gray-600);
}
.gray-700 {
    color: var(--gray-700);
}
.gray-800 {
    color: var(--gray-800);
}
.gray-900 {
    color: var(--gray-900);
}
.gray-950 {
    color: var(--gray-950);
}
.primary-25 {
    color: var(--primary-25);
}
.primary-50 {
    color: var(--primary-50);
}
.primary-100 {
    color: var(--primary-100);
}
.primary-200 {
    color: var(--primary-200);
}
.primary-300 {
    color: var(--primary-300);
}
.primary-400 {
    color: var(--primary-400);
}
.primary-500 {
    color: var(--primary-500);
}
.primary-600 {
    color: var(--primary-600);
}
.primary-700 {
    color: var(--primary-700);
}
.primary-800 {
    color: var(--primary-800);
}
.primary-900 {
    color: var(--primary-900);
}
.primary-950 {
    color: var(--primary-950);
}
.gold-25 {
    color: var(--gold-25);
}
.gold-50 {
    color: var(--gold-50);
}
.gold-100 {
    color: var(--gold-100);
}
.gold-200 {
    color: var(--gold-200);
}
.gold-300 {
    color: var(--gold-300);
}
.gold-400 {
    color: var(--gold-400);
}
.gold-500 {
    color: var(--gold-500);
}
.gold-600 {
    color: var(--gold-600);
}
.gold-700 {
    color: var(--gold-700);
}
.gold-800 {
    color: var(--gold-800);
}
.gold-900 {
    color: var(--gold-900);
}
.gold-950 {
    color: var(--gold-950);
}
.lavender-25 {
    color: var(--lavender-25);
}

.lavender-50 {
    color: var(--lavender-50);
}
.lavender-100 {
    color: var(--lavender-100);
}
.lavender-200 {
    color: var(--lavender-200);
}
.lavender-300 {
    color: var(--lavender-300);
}
.lavender-400 {
    color: var(--lavender-400);
}
.lavender-500 {
    color: var(--lavender-500);
}
.lavender-600 {
    color: var(--lavender-600);
}
.lavender-700 {
    color: var(--lavender-700);
}
.lavender-800 {
    color: var(--lavender-800);
}
.lavender-900 {
    color: var(--lavender-900);
}
.lavender-950 {
    color: var(--lavender-950);
}
.error-25 {
    color: var(--error-25);
}
.error-50 {
    color: var(--error-50);
}
.error-100 {
    color: var(--error-100);
}
.error-200 {
    color: var(--error-200);
}
.error-300 {
    color: var(--error-300);
}
.error-400 {
    color: var(--error-400);
}
.error-500 {
    color: var(--error-500);
}
.error-600 {
    color: var(--error-600);
}
.error-700 {
    color: var(--error-700);
}
.error-800 {
    color: var(--error-800);
}

.error-900 {
    color: var(--error-900);
}
.error-950 {
    color: var(--error-950);
}
.warning-25 {
    color: var(--warning-25);
}
.warning-50 {
    color: var(--warning-50);
}
.warning-100 {
    color: var(--warning-100);
}
.warning-200 {
    color: var(--warning-200);
}
.warning-300 {
    color: var(--warning-300);
}
.warning-400 {
    color: var(--warning-400);
}
.warning-500 {
    color: var(--warning-500);
}
.warning-600 {
    color: var(--warning-600);
}
.warning-700 {
    color: var(--warning-700);
}
.warning-800 {
    color: var(--warning-800);
}
.warning-900 {
    color: var(--warning-900);
}
.warning-950 {
    color: var(--warning-950);
}
.success-25 {
    color: var(--success-25);
}
.success-50 {
    color: var(--success-50);
}
.success-100 {
    color: var(--success-100);
}
.success-200 {
    color: var(--success-200);
}

.success-300 {
    color: var(--success-300);
}
.success-400 {
    color: var(--success-400);
}
.success-500 {
    color: var(--success-500);
}
.success-600 {
    color: var(--success-600);
}
.success-700 {
    color: var(--success-700);
}
.success-800 {
    color: var(--success-800);
}
.success-900 {
    color: var(--success-900);
}
.success-950 {
    color: var(--success-950);
}
.info-25 {
    color: var(--info-25);
}
.info-50 {
    color: var(--info-50);
}

.info-100 {
    color: var(--info-100);
}
.info-200 {
    color: var(--info-200);
}
.info-300 {
    color: var(--info-300);
}
.info-400 {
    color: var(--info-400);
}
.info-500 {
    color: var(--info-500);
}
.info-600 {
    color: var(--info-600);
}
.info-700 {
    color: var(--info-700);
}
.info-800 {
    color: var(--info-800);
}
.info-900 {
    color: var(--info-900);
}
.info-950 {
    color: var(--info-950);
}
// Background Colors
.mc-green-primary-bg {
    background-color: var(--mc-green-primary);
}
.white-bg {
    background-color: var(--white);
}
.black-bg {
    background-color: var(--black);
}
.transparent-bg {
    background-color: transparent;
}
.primary-green-bg {
    background-color: var(--primary-green);
}
.gray-25-bg {
    background-color: var(--gray-25);
}
.gray-50-bg {
    background-color: var(--gray-50);
}
.gray-100-bg {
    background-color: var(--gray-100);
}
.gray-200-bg {
    background-color: var(--gray-200);
}
.gray-300-bg {
    background-color: var(--gray-300);
}
.gray-400-bg {
    background-color: var(--gray-400);
}
.gray-500-bg {
    background-color: var(--gray-500);
}
.gray-600-bg {
    background-color: var(--gray-600);
}
.gray-700-bg {
    background-color: var(--gray-700);
}
.gray-800-bg {
    background-color: var(--gray-800);
}
.gray-900-bg {
    background-color: var(--gray-900);
}
.gray-950-bg {
    background-color: var(--gray-950);
}
.primary-25-bg {
    background-color: var(--primary-25);
}
.primary-50-bg {
    background-color: var(--primary-50);
}
.primary-100-bg {
    background-color: var(--primary-100);
}
.primary-200-bg {
    background-color: var(--primary-200);
}
.primary-300-bg {
    background-color: var(--primary-300);
}
.primary-400-bg {
    background-color: var(--primary-400);
}
.primary-500-bg {
    background-color: var(--primary-500);
}
.primary-600-bg {
    background-color: var(--primary-600);
}
.primary-700-bg {
    background-color: var(--primary-700);
}
.primary-800-bg {
    background-color: var(--primary-800);
}
.primary-900-bg {
    background-color: var(--primary-900);
}
.primary-950-bg {
    background-color: var(--primary-950);
}
.gold-25-bg {
    background-color: var(--gold-25);
}
.gold-50-bg {
    background-color: var(--gold-50);
}
.gold-100-bg {
    background-color: var(--gold-100);
}
.gold-200-bg {
    background-color: var(--gold-200);
}
.gold-300-bg {
    background-color: var(--gold-300);
}
.gold-400-bg {
    background-color: var(--gold-400);
}
.gold-500-bg {
    background-color: var(--gold-500);
}
.gold-600-bg {
    background-color: var(--gold-600);
}
.gold-700-bg {
    background-color: var(--gold-700);
}
.gold-800-bg {
    background-color: var(--gold-800);
}
.gold-900-bg {
    background-color: var(--gold-900);
}
.gold-950-bg {
    background-color: var(--gold-950);
}
.lavender-25-bg {
    background-color: var(--lavender-25);
}
.lavender-50-bg {
    background-color: var(--lavender-50);
}
.lavender-100-bg {
    background-color: var(--lavender-100);
}
.lavender-200-bg {
    background-color: var(--lavender-200);
}
.lavender-300-bg {
    background-color: var(--lavender-300);
}
.lavender-400-bg {
    background-color: var(--lavender-400);
}
.lavender-500-bg {
    background-color: var(--lavender-500);
}
.lavender-600-bg {
    background-color: var(--lavender-600);
}
.lavender-700-bg {
    background-color: var(--lavender-700);
}
.lavender-800-bg {
    background-color: var(--lavender-800);
}
.lavender-900-bg {
    background-color: var(--lavender-900);
}
.lavender-950-bg {
    background-color: var(--lavender-950);
}
.error-25-bg {
    background-color: var(--error-25);
}
.error-50-bg {
    background-color: var(--error-50);
}
.error-100-bg {
    background-color: var(--error-100);
}
.error-200-bg {
    background-color: var(--error-200);
}
.error-300-bg {
    background-color: var(--error-300);
}
.error-400-bg {
    background-color: var(--error-400);
}
.error-500-bg {
    background-color: var(--error-500);
}
.error-600-bg {
    background-color: var(--error-600);
}
.error-700-bg {
    background-color: var(--error-700);
}
.error-800-bg {
    background-color: var(--error-800);
}
.error-900-bg {
    background-color: var(--error-900);
}
.error-950-bg {
    background-color: var(--error-950);
}
.warning-25-bg {
    background-color: var(--warning-25);
}
.warning-50-bg {
    background-color: var(--warning-50);
}
.warning-100-bg {
    background-color: var(--warning-100);
}
.warning-200-bg {
    background-color: var(--warning-200);
}
.warning-300-bg {
    background-color: var(--warning-300);
}
.warning-400-bg {
    background-color: var(--warning-400);
}
.warning-500-bg {
    background-color: var(--warning-500);
}
.warning-600-bg {
    background-color: var(--warning-600);
}
.warning-700-bg {
    background-color: var(--warning-700);
}
.warning-800-bg {
    background-color: var(--warning-800);
}
.warning-900-bg {
    background-color: var(--warning-900);
}
.warning-950-bg {
    background-color: var(--warning-950);
}
.success-25-bg {
    background-color: var(--success-25);
}
.success-50-bg {
    background-color: var(--success-50);
}
.success-100-bg {
    background-color: var(--success-100);
}
.success-200-bg {
    background-color: var(--success-200);
}
.success-300-bg {
    background-color: var(--success-300);
}
.success-400-bg {
    background-color: var(--success-400);
}
.success-500-bg {
    background-color: var(--success-500);
}
.success-600-bg {
    background-color: var(--success-600);
}
.success-700-bg {
    background-color: var(--success-700);
}
.success-800-bg {
    background-color: var(--success-800);
}
.success-900-bg {
    background-color: var(--success-900);
}
.success-950-bg {
    background-color: var(--success-950);
}
.info-25-bg {
    background-color: var(--info-25);
}
.info-50-bg {
    background-color: var(--info-50);
}
.info-100-bg {
    background-color: var(--info-100);
}
.info-200-bg {
    background-color: var(--info-200);
}
.info-300-bg {
    background-color: var(--info-300);
}
.info-400-bg {
    background-color: var(--info-400);
}
.info-500-bg {
    background-color: var(--info-500);
}
.info-600-bg {
    background-color: var(--info-600);
}
.info-700-bg {
    background-color: var(--info-700);
}
.info-800-bg {
    background-color: var(--info-800);
}
.info-900-bg {
    background-color: var(--info-900);
}
.info-950-bg {
    background-color: var(--info-950);
}
