@font-face {
    font-family: "IBM Plex Sans Arabic";
    font-weight: 100;
    src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Thin.ttf")
        format("truetype");
}
@font-face {
    font-family: "IBM Plex Sans Arabic";
    font-weight: 200;
    src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-ExtraLight.ttf")
        format("truetype");
}
@font-face {
    font-family: "IBM Plex Sans Arabic";
    font-weight: 300;
    src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Light.ttf")
        format("truetype");
}
@font-face {
    font-family: "IBM Plex Sans Arabic";
    font-weight: 400;
    src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf")
        format("truetype");
}
@font-face {
    font-family: "IBM Plex Sans Arabic";
    font-weight: 500;
    src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf")
        format("truetype");
}
@font-face {
    font-family: "IBM Plex Sans Arabic";
    font-weight: 600;
    src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-SemiBold.ttf")
        format("truetype");
}
@font-face {
    font-family: "IBM Plex Sans Arabic";
    font-weight: 700;
    src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf")
        format("truetype");
}

html {
    // 1rem = 10px --> 10px / 16px == 62.5%
    font-size: 62.5% !important;
}

body {
    font: {
        family: var(--default-font-family) !important;
        size: 1.8rem;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
    font: {
        family: var(--default-font-family) !important;
    }
}
a {
    text-decoration: none;
}

// Fonts Sizes
.font-10 {
    font-size: var(--font-10);
}

.font-12 {
    font-size: var(--font-12);
}
.font-14 {
    font-size: var(--font-14);
}
.font-16 {
    font-size: var(--font-16);
}
.font-18 {
    font-size: var(--font-18);
}
.font-20 {
    font-size: var(--font-20);
}
.font-22 {
    font-size: var(--font-22);
}
.font-24 {
    font-size: var(--font-24);
}
.font-26 {
    font-size: var(--font-26);
}
.font-28 {
    font-size: var(--font-28);
}
.font-30 {
    font-size: var(--font-30);
}
.font-32 {
    font-size: var(--font-32);
}
.font-34 {
    font-size: var(--font-34);
}
.font-36 {
    font-size: var(--font-36);
}
.font-38 {
    font-size: var(--font-38);
}
.font-40 {
    font-size: var(--font-40);
}
.font-42 {
    font-size: var(--font-42);
}
.font-44 {
    font-size: var(--font-44);
}
.font-46 {
    font-size: var(--font-46);
}
.font-48 {
    font-size: var(--font-48);
}
.font-50 {
    font-size: var(--font-50);
}
.font-52 {
    font-size: var(--font-52);
}
.font-54 {
    font-size: var(--font-54);
}
.font-56 {
    font-size: var(--font-56);
}
.font-58 {
    font-size: var(--font-58);
}
.font-60 {
    font-size: var(--font-60);
}
.font-62 {
    font-size: var(--font-62);
}
.font-64 {
    font-size: var(--font-64);
}
.font-66 {
    font-size: var(--font-66);
}
.font-68 {
    font-size: var(--font-68);
}
.font-70 {
    font-size: var(--font-70);
}
.font-72 {
    font-size: var(--font-72);
}

// Fonts Line Heights
.default-line-height {
    line-height: var(--default-line-height);
}

.line-height-2 {
    line-height: 2rem;
}
.line-height-2-5 {
    line-height: 2.5rem;
}
.line-height-3 {
    line-height: 3rem;
}
.line-height-3-5 {
    line-height: 3.5rem;
}

// Fonts Weights
.weight-thin {
    font-weight: var(--weight-100);
}
.weight-extra-light {
    font-weight: var(--weight-200);
}
.weight-light {
    font-weight: var(--weight-300);
}
.weight-regular {
    font-weight: var(--weight-400);
}
.weight-medium {
    font-weight: var(--weight-500);
}
.weight-semi-bold {
    font-weight: var(--weight-600);
}
.weight-bold {
    font-weight: var(--weight-700);
}

.justify-text {
    text-align: justify;
}

.underline {
    text-decoration: underline;
}
