:root {
  --mc-green-primary: #005430;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d2d6db;
  --gray-400: #9da4ae;
  --gray-500: #6c737f;
  --gray-600: #4d5761;
  --gray-700: #384250;
  --gray-800: #1f2a37;
  --gray-900: #111927;
  --gray-950: #0d121c;
  --black: #161616;
  --primary-25: #B9BCA6;
  --primary-50: #ADB09B;
  --primary-100: #A0A390;
  --primary-200: #949785;
  --primary-300: #888B7A;
  --primary-400: #7C7E6F;
  --primary-500: #6F7263;
  --primary-600: #636558;
  --primary-700: #57594D;
  --primary-800: #4B4D42;
  --primary-900: #3E4037;
  --primary-950: #32342C;
  --gold-25: #fffef7;
  --gold-50: #fffef2;
  --gold-100: #fffce6;
  --gold-200: #fcf3bd;
  --gold-300: #fae996;
  --gold-400: #f7d54d;
  --gold-500: #f5bd02;
  --gold-600: #dba102;
  --gold-700: #b87b02;
  --gold-800: #945c01;
  --gold-900: #6e3c00;
  --gold-950: #472400;
  --lavender-25: #fefcff;
  --lavender-50: #f9f5fa;
  --lavender-100: #f2e9f5;
  --lavender-200: #e1cce8;
  --lavender-300: #ccadd9;
  --lavender-400: #a57bba;
  --lavender-500: #80519f;
  --lavender-600: #6d428f;
  --lavender-700: #532d75;
  --lavender-800: #3d1d5e;
  --lavender-900: #281047;
  --lavender-950: #16072e;
  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;
  --error-950: #55160c;
  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;
  --warning-950: #4e1d09;
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #dcfae6;
  --success-200: #abefc6;
  --success-300: #75e0a7;
  --success-400: #47cd89;
  --success-500: #17b26a;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085d3a;
  --success-900: #074d31;
  --success-950: #053321;
  --info-25: #f5faff;
  --info-50: #eff8ff;
  --info-100: #d1e9ff;
  --info-200: #b2ddff;
  --info-300: #84caff;
  --info-400: #53b1fd;
  --info-500: #2e90fa;
  --info-600: #1570ef;
  --info-700: #175cd3;
  --info-800: #1849a9;
  --info-900: #194185;
  --info-950: #102a56;
  --primary-green: var(--primary-600);
  --default-font-family: "IBM Plex Sans Arabic", sans-serif;
  --font-8: 0.8rem;
  --font-10: 1rem;
  --font-12: 1.2rem;
  --font-14: 1.4rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-20: 2rem;
  --font-22: 2.2rem;
  --font-24: 2.4rem;
  --font-26: 2.6rem;
  --font-28: 2.8rem;
  --font-30: 3rem;
  --font-32: 3.2rem;
  --font-34: 3.4rem;
  --font-36: 3.6rem;
  --font-40: 4rem;
  --font-42: 4.2rem;
  --font-44: 4.4rem;
  --font-46: 4.6rem;
  --font-48: 4.8rem;
  --font-50: 5rem;
  --font-60: 6rem;
  --font-70: 7rem;
  --font-80: 8rem;
  --font-90: 9rem;
  --font-100: 10rem;
  --text-black: var(--primary-black);
  --text-white: var(--white);
  --btn-font-size: var(--font-16);
  --gap-0: 0;
  --gap-1: 0.1rem;
  --gap-2: 0.2rem;
  --gap-3: 0.3rem;
  --gap-4: 0.4rem;
  --gap-5: 0.5rem;
  --gap-6: 0.6rem;
  --gap-8: 0.8rem;
  --gap-10: 1rem;
  --gap-12: 1.2rem;
  --gap-15: 1.5rem;
  --gap-16: 1.6rem;
  --gap-18: 1.8rem;
  --gap-20: 2rem;
  --gap-22: 2.2rem;
  --gap-24: 2.4rem;
  --gap-26: 2.6rem;
  --gap-30: 3rem;
  --gap-32: 3.2rem;
  --gap-34: 3.4rem;
  --gap-36: 3.6rem;
  --gap-38: 3.8rem;
  --gap-40: 4rem;
  --gap-42: 4.2rem;
  --gap-44: 4.4rem;
  --gap-45: 4.5rem;
  --gap-48: 4.8rem;
  --gap-50: 5rem;
  --gap-57: 5.7rem;
  --gap-60: 6rem;
  --gap-70: 7rem;
  --gap-80: 8rem;
  --gap-90: 9rem;
  --gap-100: 10rem;
  --gap-120: 12rem;
  --gap-130: 13rem;
  --gap-140: 14rem;
  --gap-150: 15rem;
  --gap-160: 16rem;
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
  --desktop-width: 132rem;
  --tab-width: 95%;
  --width-1200: 120rem;
  --width-full: 100%;
  --height-full: 100%;
  --width-120: 12rem;
  --height-40: 4rem;
  --opacity-0: 0;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-100: 1;
  --border-radius-0: 0;
  --border-radius-1: 0.1rem;
  --border-radius-2: 0.2rem;
  --border-radius-4: 0.4rem;
  --border-radius-6: 0.6rem;
  --border-radius-8: 0.8rem;
  --border-radius-10: 1rem;
  --border-radius-12: 1.2rem;
  --border-radius-16: 1.6rem;
  --border-radius-20: 2rem;
  --border-radius-24: 2.4rem;
  --border-radius-26: 2.6rem;
  --border-radius-30: 3rem;
  --border-radius-32: 3.2rem;
  --border-radius-34: 3.4rem;
  --border-radius-38: 3.8rem;
  --border-radius-40: 4rem;
  --border-radius-90: 9rem;
  --border-radius-full: 999px;
  --transition-3ms: all 0.3s ease-in-out;
  --default-line-height: 1.6em;
  --gray-background: var(--gray-shade-1);
  --white-background: var(--white);
  --shadow-xs: 0 1px 2px 0 rgba(16, 24, 49, 0.05);
  --shadow-sm: 0 1px 3px 0 rgba(16, 24, 49, 0.1),
      0 1px 2px 0 rgba(16, 24, 49, 0.06);
  --shadow-md: 0 4px 8px -2px rgba(16, 24, 49, 0.1),
      0 2px 4px -2px rgba(16, 24, 49, 0.06);
  --shadow-lg: 0 12px 16px -6px rgba(16, 24, 49, 0.08),
      0 4px 6px -2px rgba(16, 24, 49, 0.03);
  --shadow-xl: 0 20px 24px -4px rgba(16, 24, 49, 0.08),
      0 8px 8px -4px rgba(16, 24, 49, 0.03);
  --shadow-2xl: 0 240px 48px -12px rgba(16, 24, 49, 0.18);
  --shadow-3xl: 0 32px 64px -12px rgba(16, 24, 49, 0.14);
  --mc-shadow: 0 4px 30px 0 rgba(16, 24, 40, 0.08);
  --mc-shadow-2: 0 4px 18px 0 rgba(26, 42, 71, 0.15);
}

.mc-green-primary {
  color: var(--mc-green-primary);
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.transparent {
  color: transparent;
}

.primary-green {
  color: var(--primary-green);
}

.gray-25 {
  color: var(--gray-25);
}

.gray-50 {
  color: var(--gray-50);
}

.gray-100 {
  color: var(--gray-100);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300, .text-input__input::placeholder {
  color: var(--gray-300);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-600 {
  color: var(--gray-600);
}

.gray-700, .text-input__input {
  color: var(--gray-700);
}

.gray-800 {
  color: var(--gray-800);
}

.gray-900 {
  color: var(--gray-900);
}

.gray-950 {
  color: var(--gray-950);
}

.primary-25 {
  color: var(--primary-25);
}

.primary-50 {
  color: var(--primary-50);
}

.primary-100 {
  color: var(--primary-100);
}

.primary-200 {
  color: var(--primary-200);
}

.primary-300 {
  color: var(--primary-300);
}

.primary-400 {
  color: var(--primary-400);
}

.primary-500 {
  color: var(--primary-500);
}

.primary-600 {
  color: var(--primary-600);
}

.primary-700 {
  color: var(--primary-700);
}

.primary-800 {
  color: var(--primary-800);
}

.primary-900 {
  color: var(--primary-900);
}

.primary-950 {
  color: var(--primary-950);
}

.gold-25 {
  color: var(--gold-25);
}

.gold-50 {
  color: var(--gold-50);
}

.gold-100 {
  color: var(--gold-100);
}

.gold-200 {
  color: var(--gold-200);
}

.gold-300 {
  color: var(--gold-300);
}

.gold-400 {
  color: var(--gold-400);
}

.gold-500 {
  color: var(--gold-500);
}

.gold-600 {
  color: var(--gold-600);
}

.gold-700 {
  color: var(--gold-700);
}

.gold-800 {
  color: var(--gold-800);
}

.gold-900 {
  color: var(--gold-900);
}

.gold-950 {
  color: var(--gold-950);
}

.lavender-25 {
  color: var(--lavender-25);
}

.lavender-50 {
  color: var(--lavender-50);
}

.lavender-100 {
  color: var(--lavender-100);
}

.lavender-200 {
  color: var(--lavender-200);
}

.lavender-300 {
  color: var(--lavender-300);
}

.lavender-400 {
  color: var(--lavender-400);
}

.lavender-500 {
  color: var(--lavender-500);
}

.lavender-600 {
  color: var(--lavender-600);
}

.lavender-700 {
  color: var(--lavender-700);
}

.lavender-800 {
  color: var(--lavender-800);
}

.lavender-900 {
  color: var(--lavender-900);
}

.lavender-950 {
  color: var(--lavender-950);
}

.error-25 {
  color: var(--error-25);
}

.error-50 {
  color: var(--error-50);
}

.error-100 {
  color: var(--error-100);
}

.error-200 {
  color: var(--error-200);
}

.error-300 {
  color: var(--error-300);
}

.error-400 {
  color: var(--error-400);
}

.error-500 {
  color: var(--error-500);
}

.error-600 {
  color: var(--error-600);
}

.error-700 {
  color: var(--error-700);
}

.error-800 {
  color: var(--error-800);
}

.error-900 {
  color: var(--error-900);
}

.error-950 {
  color: var(--error-950);
}

.warning-25 {
  color: var(--warning-25);
}

.warning-50 {
  color: var(--warning-50);
}

.warning-100 {
  color: var(--warning-100);
}

.warning-200 {
  color: var(--warning-200);
}

.warning-300 {
  color: var(--warning-300);
}

.warning-400 {
  color: var(--warning-400);
}

.warning-500 {
  color: var(--warning-500);
}

.warning-600 {
  color: var(--warning-600);
}

.warning-700 {
  color: var(--warning-700);
}

.warning-800 {
  color: var(--warning-800);
}

.warning-900 {
  color: var(--warning-900);
}

.warning-950 {
  color: var(--warning-950);
}

.success-25 {
  color: var(--success-25);
}

.success-50 {
  color: var(--success-50);
}

.success-100 {
  color: var(--success-100);
}

.success-200 {
  color: var(--success-200);
}

.success-300 {
  color: var(--success-300);
}

.success-400 {
  color: var(--success-400);
}

.success-500 {
  color: var(--success-500);
}

.success-600 {
  color: var(--success-600);
}

.success-700 {
  color: var(--success-700);
}

.success-800 {
  color: var(--success-800);
}

.success-900 {
  color: var(--success-900);
}

.success-950 {
  color: var(--success-950);
}

.info-25 {
  color: var(--info-25);
}

.info-50 {
  color: var(--info-50);
}

.info-100 {
  color: var(--info-100);
}

.info-200 {
  color: var(--info-200);
}

.info-300 {
  color: var(--info-300);
}

.info-400 {
  color: var(--info-400);
}

.info-500 {
  color: var(--info-500);
}

.info-600 {
  color: var(--info-600);
}

.info-700 {
  color: var(--info-700);
}

.info-800 {
  color: var(--info-800);
}

.info-900 {
  color: var(--info-900);
}

.info-950 {
  color: var(--info-950);
}

.mc-green-primary-bg {
  background-color: var(--mc-green-primary);
}

.white-bg {
  background-color: var(--white);
}

.black-bg {
  background-color: var(--black);
}

.transparent-bg {
  background-color: transparent;
}

.primary-green-bg {
  background-color: var(--primary-green);
}

.gray-25-bg {
  background-color: var(--gray-25);
}

.gray-50-bg {
  background-color: var(--gray-50);
}

.gray-100-bg {
  background-color: var(--gray-100);
}

.gray-200-bg, .tag__container {
  background-color: var(--gray-200);
}

.gray-300-bg {
  background-color: var(--gray-300);
}

.gray-400-bg {
  background-color: var(--gray-400);
}

.gray-500-bg {
  background-color: var(--gray-500);
}

.gray-600-bg {
  background-color: var(--gray-600);
}

.gray-700-bg {
  background-color: var(--gray-700);
}

.gray-800-bg {
  background-color: var(--gray-800);
}

.gray-900-bg {
  background-color: var(--gray-900);
}

.gray-950-bg {
  background-color: var(--gray-950);
}

.primary-25-bg, .tag__container-primary {
  background-color: var(--primary-25);
}

.primary-50-bg {
  background-color: var(--primary-50);
}

.primary-100-bg {
  background-color: var(--primary-100);
}

.primary-200-bg {
  background-color: var(--primary-200);
}

.primary-300-bg {
  background-color: var(--primary-300);
}

.primary-400-bg {
  background-color: var(--primary-400);
}

.primary-500-bg {
  background-color: var(--primary-500);
}

.primary-600-bg {
  background-color: var(--primary-600);
}

.primary-700-bg {
  background-color: var(--primary-700);
}

.primary-800-bg {
  background-color: var(--primary-800);
}

.primary-900-bg {
  background-color: var(--primary-900);
}

.primary-950-bg {
  background-color: var(--primary-950);
}

.gold-25-bg {
  background-color: var(--gold-25);
}

.gold-50-bg {
  background-color: var(--gold-50);
}

.gold-100-bg {
  background-color: var(--gold-100);
}

.gold-200-bg {
  background-color: var(--gold-200);
}

.gold-300-bg {
  background-color: var(--gold-300);
}

.gold-400-bg {
  background-color: var(--gold-400);
}

.gold-500-bg {
  background-color: var(--gold-500);
}

.gold-600-bg {
  background-color: var(--gold-600);
}

.gold-700-bg {
  background-color: var(--gold-700);
}

.gold-800-bg {
  background-color: var(--gold-800);
}

.gold-900-bg {
  background-color: var(--gold-900);
}

.gold-950-bg {
  background-color: var(--gold-950);
}

.lavender-25-bg {
  background-color: var(--lavender-25);
}

.lavender-50-bg {
  background-color: var(--lavender-50);
}

.lavender-100-bg {
  background-color: var(--lavender-100);
}

.lavender-200-bg {
  background-color: var(--lavender-200);
}

.lavender-300-bg {
  background-color: var(--lavender-300);
}

.lavender-400-bg {
  background-color: var(--lavender-400);
}

.lavender-500-bg {
  background-color: var(--lavender-500);
}

.lavender-600-bg {
  background-color: var(--lavender-600);
}

.lavender-700-bg {
  background-color: var(--lavender-700);
}

.lavender-800-bg {
  background-color: var(--lavender-800);
}

.lavender-900-bg {
  background-color: var(--lavender-900);
}

.lavender-950-bg {
  background-color: var(--lavender-950);
}

.error-25-bg {
  background-color: var(--error-25);
}

.error-50-bg {
  background-color: var(--error-50);
}

.error-100-bg, .tag__container-red {
  background-color: var(--error-100);
}

.error-200-bg {
  background-color: var(--error-200);
}

.error-300-bg {
  background-color: var(--error-300);
}

.error-400-bg {
  background-color: var(--error-400);
}

.error-500-bg {
  background-color: var(--error-500);
}

.error-600-bg {
  background-color: var(--error-600);
}

.error-700-bg {
  background-color: var(--error-700);
}

.error-800-bg {
  background-color: var(--error-800);
}

.error-900-bg {
  background-color: var(--error-900);
}

.error-950-bg {
  background-color: var(--error-950);
}

.warning-25-bg {
  background-color: var(--warning-25);
}

.warning-50-bg {
  background-color: var(--warning-50);
}

.warning-100-bg, .tag__container-yellow {
  background-color: var(--warning-100);
}

.warning-200-bg {
  background-color: var(--warning-200);
}

.warning-300-bg {
  background-color: var(--warning-300);
}

.warning-400-bg {
  background-color: var(--warning-400);
}

.warning-500-bg {
  background-color: var(--warning-500);
}

.warning-600-bg {
  background-color: var(--warning-600);
}

.warning-700-bg {
  background-color: var(--warning-700);
}

.warning-800-bg {
  background-color: var(--warning-800);
}

.warning-900-bg {
  background-color: var(--warning-900);
}

.warning-950-bg {
  background-color: var(--warning-950);
}

.success-25-bg {
  background-color: var(--success-25);
}

.success-50-bg {
  background-color: var(--success-50);
}

.success-100-bg, .tag__container-green {
  background-color: var(--success-100);
}

.success-200-bg {
  background-color: var(--success-200);
}

.success-300-bg {
  background-color: var(--success-300);
}

.success-400-bg {
  background-color: var(--success-400);
}

.success-500-bg {
  background-color: var(--success-500);
}

.success-600-bg {
  background-color: var(--success-600);
}

.success-700-bg {
  background-color: var(--success-700);
}

.success-800-bg {
  background-color: var(--success-800);
}

.success-900-bg {
  background-color: var(--success-900);
}

.success-950-bg {
  background-color: var(--success-950);
}

.info-25-bg {
  background-color: var(--info-25);
}

.info-50-bg {
  background-color: var(--info-50);
}

.info-100-bg {
  background-color: var(--info-100);
}

.info-200-bg {
  background-color: var(--info-200);
}

.info-300-bg {
  background-color: var(--info-300);
}

.info-400-bg {
  background-color: var(--info-400);
}

.info-500-bg {
  background-color: var(--info-500);
}

.info-600-bg {
  background-color: var(--info-600);
}

.info-700-bg {
  background-color: var(--info-700);
}

.info-800-bg {
  background-color: var(--info-800);
}

.info-900-bg {
  background-color: var(--info-900);
}

.info-950-bg {
  background-color: var(--info-950);
}

/**
    * Available classes for shadows:

    * - shadow-xs
    * - shadow-sm
    * - shadow-md
    * - shadow-lg
    * - shadow-xl
    * - shadow-2xl
    * - shadow-3xl
    * - shadow-none

    */
.shadow-xs {
  box-shadow: var(--shadow-xs);
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.shadow-xl {
  box-shadow: var(--shadow-xl);
}

.shadow-2xl {
  box-shadow: var(--shadow-2xl);
}

.shadow-3xl {
  box-shadow: var(--shadow-3xl);
}

.shadow-none {
  box-shadow: none;
}

.mc-shadow {
  box-shadow: var(--mc-shadow);
}

.mc-shadow-2 {
  box-shadow: var(--mc-shadow-2);
}

/*

0     -> 400px   -->   (25em)   : Small Phones
400px -> 600px   -->   (37.5em) : Phones
600px -> 900px  : Tablet portrait
900px -> 1200px : Tablet landscape
1200px -> 1320px : Big desktop screens
1800px or larger:Big desktop screens

$breakpoint variable choices:

- phone-small
- phone
- tab-port
- tab-land
- big-desktop

*/
/**
    * Available colors:

    * - primary
    * - secondary
    * - tertiary
    * - white
    * - error
    * - warning
    * - success
    * - info
    * - green-primary
    * - green-secondary
    * - green-tertiary

    */
/**
    * Available sizes for texts:

    * - xl
    * - lg
    * - md
    * - sm
    * - xs
    * - xxs

    */
.border-4, .border-3, .border-2, .border-1, .border-none, .border-info-200, .border-error-600, .border-error-500, .border-error-400, .border-error-300, .border-error-200, .border-warning-200, .border-success-200, .border-gray-700, .border-gray-600, .border-gray-500, .border-gray-400, .border-gray-300, .border-gray-200, .border-gray-100, .border-success-700, .border-primary-900, .border-primary-700, .border-primary-600, .border-primary-200, .border-black, .border-gray, .border-white, .border-transparent {
  border: 1px solid transparent !important;
}

.outline-4, .outline-3, .outline-2, .outline-1, .outline-gray-300, .outline-gray-200, .outline-gray-100, .outline-primary-900, .outline-primary-700, .outline-primary-600, .outline-black, .outline-gray, .outline-white, .outline-transparent {
  outline: 1px solid transparent !important;
}

/*
    Btn $size options: sm || md || lg
*/
/*
    Btn $style options:
    primary-btn || secondary-btn
    secondary-outline-btn || secondary-outline-white-btn
    transparent-btn || custom-btn
    subtle-btn || transparent-white-btn

*/
/*
    Link $style options:


*/
@font-face {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 100;
  src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 200;
  src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 300;
  src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 400;
  src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 500;
  src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 600;
  src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 700;
  src: url("@fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf") format("truetype");
}
html {
  font-size: 62.5% !important;
}

body {
  font-family: var(--default-font-family) !important;
  font-size: 1.8rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  font-family: var(--default-font-family) !important;
}

a {
  text-decoration: none;
}

.font-10, .tag__container {
  font-size: var(--font-10);
}

.font-12 {
  font-size: var(--font-12);
}

.font-14, .text-input__label {
  font-size: var(--font-14);
}

.font-16, .index-page .subtitle, .index-page .logo-section > h3, .profile__block-name, .text-input__input, .wswl-btn {
  font-size: var(--font-16);
}

.font-18 {
  font-size: var(--font-18);
}

.font-20 {
  font-size: var(--font-20);
}

.font-22 {
  font-size: var(--font-22);
}

.font-24, .index-page .logo-section > h1 {
  font-size: var(--font-24);
}

.font-26 {
  font-size: var(--font-26);
}

.font-28 {
  font-size: var(--font-28);
}

.font-30 {
  font-size: var(--font-30);
}

.font-32 {
  font-size: var(--font-32);
}

.font-34 {
  font-size: var(--font-34);
}

.font-36 {
  font-size: var(--font-36);
}

.font-38 {
  font-size: var(--font-38);
}

.font-40 {
  font-size: var(--font-40);
}

.font-42 {
  font-size: var(--font-42);
}

.font-44 {
  font-size: var(--font-44);
}

.font-46 {
  font-size: var(--font-46);
}

.font-48 {
  font-size: var(--font-48);
}

.font-50 {
  font-size: var(--font-50);
}

.font-52 {
  font-size: var(--font-52);
}

.font-54 {
  font-size: var(--font-54);
}

.font-56 {
  font-size: var(--font-56);
}

.font-58 {
  font-size: var(--font-58);
}

.font-60 {
  font-size: var(--font-60);
}

.font-62 {
  font-size: var(--font-62);
}

.font-64 {
  font-size: var(--font-64);
}

.font-66 {
  font-size: var(--font-66);
}

.font-68 {
  font-size: var(--font-68);
}

.font-70 {
  font-size: var(--font-70);
}

.font-72 {
  font-size: var(--font-72);
}

.default-line-height {
  line-height: var(--default-line-height);
}

.line-height-2 {
  line-height: 2rem;
}

.line-height-2-5 {
  line-height: 2.5rem;
}

.line-height-3 {
  line-height: 3rem;
}

.line-height-3-5 {
  line-height: 3.5rem;
}

.weight-thin {
  font-weight: var(--weight-100);
}

.weight-extra-light {
  font-weight: var(--weight-200);
}

.weight-light, .text-input__input::placeholder, .text-input__input {
  font-weight: var(--weight-300);
}

.weight-regular {
  font-weight: var(--weight-400);
}

.weight-medium, .profile__block-name, .text-input__label {
  font-weight: var(--weight-500);
}

.weight-semi-bold {
  font-weight: var(--weight-600);
}

.weight-bold {
  font-weight: var(--weight-700);
}

.justify-text {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.border-transparent {
  border-color: transparent !important;
}

.border-white {
  border-color: var(--white) !important;
}

.border-gray {
  border-color: var(--gray-200) !important;
}

.border-black {
  border-color: var(--gray-800) !important;
}

.border-primary-200 {
  border-color: var(--primary-200) !important;
}

.border-primary-600 {
  border-color: var(--primary-600) !important;
}

.border-primary-700 {
  border-color: var(--primary-700) !important;
}

.border-primary-900 {
  border-color: var(--primary-900) !important;
}

.border-success-700 {
  border-color: var(--success-700) !important;
}

.border-gray-100 {
  border-color: var(--gray-100) !important;
}

.border-gray-200 {
  border-color: var(--gray-200) !important;
}

.border-gray-300 {
  border-color: var(--gray-300) !important;
}

.border-gray-400 {
  border-color: var(--gray-400) !important;
}

.border-gray-500 {
  border-color: var(--gray-500) !important;
}

.border-gray-600 {
  border-color: var(--gray-600) !important;
}

.border-gray-700 {
  border-color: var(--gray-700) !important;
}

.border-success-200 {
  border-color: var(--success-200) !important;
}

.border-warning-200 {
  border-color: var(--warning-200) !important;
}

.border-error-200 {
  border-color: var(--error-200) !important;
}

.border-error-300 {
  border-color: var(--error-300) !important;
}

.border-error-400 {
  border-color: var(--error-400) !important;
}

.border-error-500 {
  border-color: var(--error-500) !important;
}

.border-error-600 {
  border-color: var(--error-600) !important;
}

.border-info-200 {
  border-color: var(--info-200) !important;
}

.outline-transparent {
  outline-color: transparent !important;
}

.outline-white {
  outline-color: var(--white) !important;
}

.outline-gray {
  outline-color: var(--gray-200) !important;
}

.outline-black {
  outline-color: var(--gray-800) !important;
}

.outline-primary-600 {
  outline-color: var(--primary-600) !important;
}

.outline-primary-700 {
  outline-color: var(--primary-700) !important;
}

.outline-primary-900 {
  outline-color: var(--primary-900) !important;
}

.outline-gray-100 {
  outline-color: var(--gray-100) !important;
}

.outline-gray-200 {
  outline-color: var(--gray-200) !important;
}

.outline-gray-300 {
  outline-color: var(--gray-300) !important;
}

.border-none {
  border-width: 0 !important;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.outline-1 {
  outline-width: 1px !important;
}

.outline-2 {
  outline-width: 2px !important;
}

.outline-3 {
  outline-width: 3px !important;
}

.outline-4 {
  outline-width: 4px !important;
}

.main-container {
  max-width: var(--desktop-width);
  width: 100%;
  margin-inline: auto;
}
@media screen and (max-width: 87.5em) {
  .main-container {
    max-width: 100%;
    width: var(--tab-width) !important;
  }
}

.blocks-bp-160 {
  padding-block: var(--gap-160);
}
@media screen and (max-width: 56.25em) {
  .blocks-bp-160 {
    padding-block: var(--gap-120);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bp-160 {
    padding-block: var(--gap-80);
  }
}

.blocks-bp-120 {
  padding-block: var(--gap-120);
}
@media screen and (max-width: 56.25em) {
  .blocks-bp-120 {
    padding-block: var(--gap-100);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bp-120 {
    padding-block: var(--gap-60);
  }
}

.blocks-bps-120 {
  padding-block-start: var(--gap-120);
}
@media screen and (max-width: 56.25em) {
  .blocks-bps-120 {
    padding-block-start: var(--gap-100);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bps-120 {
    padding-block-start: var(--gap-60);
  }
}

.blocks-bpe-120 {
  padding-block-end: var(--gap-120);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-120 {
    padding-block-end: var(--gap-100);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bpe-120 {
    padding-block-end: var(--gap-60);
  }
}

.blocks-bp-100 {
  padding-block: var(--gap-100);
}
@media screen and (max-width: 56.25em) {
  .blocks-bp-100 {
    padding-block: var(--gap-80);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bp-100 {
    padding-block: var(--gap-60);
  }
}

.blocks-bp-90 {
  padding-block: var(--gap-90);
}
@media screen and (max-width: 56.25em) {
  .blocks-bp-90 {
    padding-block: var(--gap-70);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bp-90 {
    padding-block: var(--gap-50);
  }
}

.blocks-bps-100 {
  padding-block-start: var(--gap-100);
}
@media screen and (max-width: 56.25em) {
  .blocks-bps-100 {
    padding-block-start: var(--gap-80);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bps-100 {
    padding-block-start: var(--gap-60);
  }
}

.blocks-bpe-100 {
  padding-block-end: var(--gap-100);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-100 {
    padding-block-end: var(--gap-80);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bpe-100 {
    padding-block-end: var(--gap-60);
  }
}

.blocks-bp-60 {
  padding-block: var(--gap-60);
}
@media screen and (max-width: 56.25em) {
  .blocks-bp-60 {
    padding-block: var(--gap-40);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bp-60 {
    padding-block: var(--gap-30);
  }
}

.blocks-bps-60 {
  padding-block-start: var(--gap-60);
}
@media screen and (max-width: 56.25em) {
  .blocks-bps-60 {
    padding-block-start: var(--gap-40);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bps-60 {
    padding-block-start: var(--gap-30);
  }
}

.blocks-bpe-40 {
  padding-block-end: var(--gap-40);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-40 {
    padding-block-end: var(--gap-30);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bpe-40 {
    padding-block-end: var(--gap-20);
  }
}

.blocks-bpe-42 {
  padding-block-end: var(--gap-42);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-42 {
    padding-block-end: var(--gap-30);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bpe-42 {
    padding-block-end: var(--gap-20);
  }
}

.blocks-bpe-46 {
  padding-block-end: var(--gap-46);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-46 {
    padding-block-end: var(--gap-30);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bpe-46 {
    padding-block-end: var(--gap-20);
  }
}

.blocks-bpe-48 {
  padding-block-end: var(--gap-48);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-48 {
    padding-block-end: var(--gap-30);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bpe-48 {
    padding-block-end: var(--gap-20);
  }
}

.blocks-bpe-60 {
  padding-block-end: var(--gap-60);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-60 {
    padding-block-end: var(--gap-40);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bpe-60 {
    padding-block-end: var(--gap-30);
  }
}

.blocks-bp-30 {
  padding-block: var(--gap-30);
}
@media screen and (max-width: 56.25em) {
  .blocks-bp-30 {
    padding-block: var(--gap-20);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bp-30 {
    padding-block: var(--gap-15);
  }
}

.blocks-bps-30 {
  padding-block-start: var(--gap-30);
}
@media screen and (max-width: 56.25em) {
  .blocks-bps-30 {
    padding-block-start: var(--gap-20);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bps-30 {
    padding-block-start: var(--gap-15);
  }
}

.blocks-bpe-30 {
  padding-block-end: var(--gap-30);
}
@media screen and (max-width: 56.25em) {
  .blocks-bpe-30 {
    padding-block-end: var(--gap-20);
  }
}

.blocks-bm-120 {
  margin-block: var(--gap-120);
}
@media screen and (max-width: 56.25em) {
  .blocks-bm-120 {
    margin-block: var(--gap-100);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bm-120 {
    margin-block: var(--gap-60);
  }
}

.blocks-bsm-120 {
  margin-block-start: var(--gap-120);
}
@media screen and (max-width: 56.25em) {
  .blocks-bsm-120 {
    margin-block-start: var(--gap-100);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bsm-120 {
    margin-block-start: var(--gap-60);
  }
}

.blocks-bem-120 {
  margin-block-end: var(--gap-120);
}
@media screen and (max-width: 56.25em) {
  .blocks-bem-120 {
    margin-block-end: var(--gap-100);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bem-120 {
    margin-block-end: var(--gap-60);
  }
}

.blocks-bm-100 {
  margin-block: var(--gap-100);
}
@media screen and (max-width: 56.25em) {
  .blocks-bm-100 {
    margin-block: var(--gap-80);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bm-100 {
    margin-block: var(--gap-60);
  }
}

.blocks-bsm-100 {
  margin-block-start: var(--gap-100);
}
@media screen and (max-width: 56.25em) {
  .blocks-bsm-100 {
    margin-block-start: var(--gap-80);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bsm-100 {
    margin-block-start: var(--gap-60);
  }
}

.blocks-bem-100 {
  margin-block-end: var(--gap-100);
}
@media screen and (max-width: 56.25em) {
  .blocks-bem-100 {
    margin-block-end: var(--gap-80);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bem-100 {
    margin-block-end: var(--gap-60);
  }
}

.blocks-bm-60 {
  margin-block: var(--gap-60);
}
@media screen and (max-width: 56.25em) {
  .blocks-bm-60 {
    margin-block: var(--gap-40);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bm-60 {
    margin-block: var(--gap-30);
  }
}

.blocks-bsm-60 {
  margin-block-start: var(--gap-60);
}
@media screen and (max-width: 56.25em) {
  .blocks-bsm-60 {
    margin-block-start: var(--gap-40);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bsm-60 {
    margin-block-start: var(--gap-30);
  }
}

.blocks-bem-60 {
  margin-block-end: var(--gap-60);
}
@media screen and (max-width: 56.25em) {
  .blocks-bem-60 {
    margin-block-end: var(--gap-40);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bem-60 {
    margin-block-end: var(--gap-30);
  }
}

.blocks-bm-40 {
  margin-block: var(--gap-40);
}
@media screen and (max-width: 56.25em) {
  .blocks-bm-40 {
    margin-block: var(--gap-30);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bm-40 {
    margin-block: var(--gap-20);
  }
}

.blocks-bsm-40 {
  margin-block-start: var(--gap-40);
}
@media screen and (max-width: 56.25em) {
  .blocks-bsm-40 {
    margin-block-start: var(--gap-30);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bsm-40 {
    margin-block-start: var(--gap-20);
  }
}

.blocks-bem-40 {
  margin-block-end: var(--gap-40);
}
@media screen and (max-width: 56.25em) {
  .blocks-bem-40 {
    margin-block-end: var(--gap-30);
  }
}
@media screen and (max-width: 37.5em) {
  .blocks-bem-40 {
    margin-block-end: var(--gap-20);
  }
}

.column-gap-10 {
  column-gap: var(--gap-10);
}

.column-gap-15 {
  column-gap: var(--gap-15);
}

.column-gap-20 {
  column-gap: var(--gap-20);
}

.column-gap-30 {
  column-gap: var(--gap-30);
}

.column-gap-40 {
  column-gap: var(--gap-40);
}

.column-gap-60 {
  column-gap: var(--gap-60);
}

.row-gap-10 {
  row-gap: var(--gap-10);
}

.row-gap-15 {
  row-gap: var(--gap-15);
}

.row-gap-20 {
  row-gap: var(--gap-20);
}

.row-gap-30 {
  row-gap: var(--gap-30);
}

.row-gap-40 {
  row-gap: var(--gap-40);
}

.row-gap-60 {
  row-gap: var(--gap-60);
}

.transition-3ms {
  transition: var(--transition-3ms);
}

.transition-5ms {
  transition: var(--transition-5ms);
}

.default-border {
  border: 1px solid var(--border-gray);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: inherit;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0 !important;
  min-height: 100dvh;
  min-width: 100dvw;
  position: relative;
  width: 100%;
  height: 100%;
  margin-block: auto;
  margin-inline: auto;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background: #222;
  color: #222;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

main.phone {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  width: 402px;
  min-width: 402px;
  max-width: 402px;
  height: 874px;
  min-height: 874px;
  max-height: 874px;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--gap-10);
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main.phone::-webkit-scrollbar {
  display: none;
}
main.phone > .content {
  flex: 1 1 auto;
  padding-inline: var(--gap-16);
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  gap: var(--gap-10);
}

/**
    * Available classes for radius:

    * - radius-none == radius -> 0px
    * - radius-xs == radius -> 2px
    * - radius-sm == radius -> 4px
    * - radius-md  == radius -> 8px
    * - radius-lg == radius -> 16px
    * - radius-xl == radius -> 24px
    * - radius-full == radius -> 100%

    */
.radius-none {
  border-radius: var(--border-radius-0);
}

.radius-xs {
  border-radius: var(--border-radius-2);
}

.radius-sm, .text-input__input, .tag__container {
  border-radius: var(--border-radius-4);
}

.radius-md, .wswl-btn {
  border-radius: var(--border-radius-8);
}

.radius-lg {
  border-radius: var(--border-radius-16);
}

.radius-xl {
  border-radius: var(--border-radius-24);
}

.radius-xxl, main.phone {
  border-radius: var(--border-radius-38);
}

.radius-full, .profile__block-img {
  border-radius: var(--border-radius-full);
}

.logo__container {
  height: fit-content;
  width: fit-content;
}
.logo__container img {
  height: auto;
  width: 100%;
  object-fit: contain;
  display: block;
}
.logo__md {
  width: var(--gap-60);
}
.logo__lg {
  width: var(--gap-160);
}

.wswl-btn {
  border: none;
  font-family: var(--default-font-family) !important;
  text-align: center;
  width: 100%;
  min-width: fit-content;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-8);
}
.wswl-btn.btn__lg {
  padding: var(--gap-8) var(--gap-12);
}
.wswl-btn.btn__subtle {
  background-color: var(--primary-700);
  color: var(--gray-50);
}
.wswl-btn.btn__subtle:hover {
  background-color: var(--primary-900);
}
.wswl-btn.btn__white {
  background-color: var(--white);
  color: var(--primary-800);
}
.wswl-btn.btn__white:hover {
  background-color: var(--gray-300);
}

.tag__container {
  width: fit-content;
  padding: var(--gap-4) var(--gap-12);
}
.tag__container-primary {
  color: var(--black);
}
.tag__container-green {
  color: var(--success-700);
}
.tag__container-red {
  color: var(--error-700);
}
.tag__container-yellow {
  color: var(--warning-700);
}

.form__container {
  width: 100%;
}
.form__section {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--gap-24);
}
.form__section .submit-btn {
  align-self: center;
  margin-block-start: var(--gap-32);
}

.text-input__container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-4);
}
.text-input__label {
  color: var(--white);
}
.text-input__input {
  flex: 1;
  border: none;
}
.text-input__input:focus {
  outline: none;
}
.text-input__input::placeholder {
  font-family: var(--default-font-family) !important;
}
.text-input__input {
  width: 100%;
  padding: 8px 12px;
}

.profile__block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-12);
  padding-block-end: var(--gap-12);
  box-shadow: -1px 16px 24px -16px rgba(0, 0, 0, 0.56);
}
.profile__block-img {
  width: 56px;
  height: 56px;
  max-width: 56px;
  max-height: 56px;
  object-fit: cover;
}
.profile__block-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-4);
}
.profile__block-name {
  color: var(--black);
}
.profile__block-tags {
  flex: 0 0 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-12);
}

.status-bar__section {
  width: 100%;
  height: auto;
  min-height: var(--gap-57);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.status-bar__section > img {
  width: 125px;
  height: auto;
  display: block;
  position: absolute;
  z-index: 4;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.status-bar__container img {
  width: 100%;
  height: auto;
  display: block;
}

.home-indicator__container {
  width: 100%;
  height: fit-content;
  position: sticky;
  bottom: 0;
}
.home-indicator__bar {
  width: 134px;
  min-height: 5px;
  margin: 8px auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.index-page {
  background: radial-gradient(circle at -10% -10%, rgba(90, 110, 60, 0.35), rgba(40, 45, 35, 0) 70%), #2b2e27 !important;
}
.index-page .status-bar__section::before {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -50%;
  background: radial-gradient(circle at -10% -10%, rgba(90, 110, 60, 0.35), rgba(40, 45, 35, 0) 70%), #2b2e27 !important;
}
.index-page .status-bar__container img {
  filter: invert(1);
}
.index-page .logo-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.index-page .logo-section > * {
  padding-inline: var(--gap-30);
}
.index-page .logo-section .logo__container {
  border-inline-end: 0.5px solid #fff;
}
.index-page .logo-section > h3 {
  padding-block-start: var(--gap-30);
}
.index-page .logo-section > h1,
.index-page .logo-section h3 {
  color: var(--white);
  font-weight: 400;
}
.index-page > .content {
  justify-content: center !important;
  gap: var(--gap-100) !important;
}
.index-page .subtitle {
  color: var(--white);
  text-align: center;
}
.index-page .btns-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-16);
}