// @font-face {
//     font-family: "AdirTrial";
//     src: url("../assets/fonts/29LTAdirTRIAL-Regular.otf") format("otf");
//     font-display: swap;
// }

@import "base/variables";
@import "base/colors";
@import "base/shadows";
@import "base/mixins";
@import "base/typography";
@import "base/borders";
@import "base/utilities";
@import "base/base";
@import "base/animations";
@import "base/radius";

@import "components/logo";
@import "components/buttons";

@import "components/forms";
@import "components/forms/text-input";

@import "layouts/status-bar";
@import "layouts/home-indicator";

@import "pages/index-page";
