// -- Media Query Manager --

/*

0     -> 400px   -->   (25em)   : Small Phones
400px -> 600px   -->   (37.5em) : Phones
600px -> 900px  : Tablet portrait
900px -> 1200px : Tablet landscape
1200px -> 1320px : Big desktop screens
1800px or larger:Big desktop screens

$breakpoint variable choices:

- phone-small
- phone
- tab-port
- tab-land
- big-desktop

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-small {
        @media screen and (max-width: 25em) {
            @content;
        }
    }
    @if $breakpoint == phone {
        @media screen and (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media screen and (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media screen and (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == small-desktop {
        @media screen and (max-width: 87.5em) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media screen and (max-width: 112.5em) {
            @content;
        }
    }
}

// Blocks Container Mixin
@mixin block-container {
    max-width: var(--desktop-width);
    width: 100%;
    margin-inline: auto;
    @include respond(small-desktop) {
        max-width: 100%;
        width: var(--tab-width) !important;
    }
    @content;
}
